//- extends ../layout/base 
//- block content 
//- 	section.content-header 
//- 		h1 
//- 			| Edit Customer
//- 			small menu for editing customer data
//- 		ol.breadcrumb 
//- 			li 
//- 				a(href='#') 
//- 					i.fa.fa-dashboard
//- 					| Level 
//- 			li.active Here 
//- 	section.content
//- 		.box
//- 			.box-header.with-border
//- 				h3.box-title
//- 					| Customer
//- 				.box-tools.pull-right
//- 					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
//- 						i.fa.fa-minus
					
//- 			.box-body
//- 				form(role='form',method='post' action='/customers/edit/#{(id==undefined) ? data.id : id}')
//- 					.row
						
//- 						.col-xs-6
//- 							.box-body
//- 								- if (messages.msg_error) 
//- 									.alert.alert-danger.alert-dismissable 
//- 										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
//- 											| ×
//- 										h4
//- 											i.icon.fa.fa-ban
//- 											| Alert! 
//- 										| !{messages.msg_error}
//- 								- if (messages.msg_info) 
//- 									.alert.alert-success.alert-dismissable 
//- 										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
//- 											| ×
//- 										h4
//- 											i.icon.fa.fa-ban
//- 											| Success! 
//- 										| !{messages.msg_info}
//- 								.form-group
//- 									label
//- 										| Name
//- 									input(type='text',value="#{data.name}",name='name',placeholder='Enter Name', autofocus).form-control
//- 								.form-group
//- 									label
//- 										| Address
//- 									input(type='text',value="#{ (address == undefined) ? data.address : address }",name='address',placeholder='Enter address').form-control
//- 								.form-group
//- 									label
//- 										| Email
//- 									input(type='text',value="#{ (email == undefined) ? data.email : email }",name='email',placeholder='Enter Address').form-control
//- 								.form-group
//- 									label
//- 										| Phone
//- 									input(type='text',value="#{ (phone == undefined) ? data.phone : phone }",name='phone',placeholder='Enter Phone').form-control
//- 							.box-footer
//- 								input(type="hidden",name="_method", value="PUT")
//- 								button(type='submit').btn.btn-primary
//- 									i.fa.fa-pencil 
//- 									|  Edit
//- 								a(href='/customers').btn.btn-primary.pull-right
//- 									| Back


extends ../layout/base
block content
	section.content
		.container-fluid
			.row.clearfix
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.card
						.header
							h2 HORIZONTAL LAYOUT
							ul.header-dropdown.m-r--5
								li.dropdown
									a.dropdown-toggle(href='javascript:void(0);', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
										i.material-icons more_vert
									ul.dropdown-menu.pull-right
										li
											a(href='javascript:void(0);') Action
										li
											a(href='javascript:void(0);') Another action
										li
											a(href='javascript:void(0);') Something else here
						.body
							form.form-horizontal(role='form',method='post', action='/customers/edit/#{(id==undefined) ? data.id : id}')
								if (messages.msg_error)  
									!{messages.msg_error}
								.row.clearfix
									.col-lg-2.col-md-2.col-sm-4.col-xs-5.form-control-label
										label(for='name') Name
									.col-lg-10.col-md-10.col-sm-8.col-xs-7
										.form-group
											.form-line
												input.form-control(type='text', name='name',id='name', value='#{data.name}', placeholder='Enter your full name')
								.row.clearfix
									.col-lg-2.col-md-2.col-sm-4.col-xs-5.form-control-label
										label(for='address') Address
									.col-lg-10.col-md-10.col-sm-8.col-xs-7
										.form-group
											.form-line
												input.form-control(type='text',id='address',name='address', value='#{ (address == undefined) ? data.address : address }' placeholder='Enter your full address')
								.row.clearfix
									.col-lg-2.col-md-2.col-sm-4.col-xs-5.form-control-label
										label(for='email') Email
									.col-lg-10.col-md-10.col-sm-8.col-xs-7
										.form-group
											.form-line
												input.form-control(type='text',name='email', id='email', value='#{ (email == undefined) ? data.email : email }', placeholder='Enter your email')
								.row.clearfix
									.col-lg-2.col-md-2.col-sm-4.col-xs-5.form-control-label
										label(for='phone') Phone
									.col-lg-10.col-md-10.col-sm-8.col-xs-7
										.form-group
											.form-line
												input.form-control(type='text',id='phone', name='phone', value='#{ (phone == undefined) ? data.phone : phone }' placeholder='Enter your phone number')
								.row.clearfix
									.col-lg-offset-2.col-md-offset-2.col-sm-offset-4.col-xs-offset-5
										input(type="hidden",name="_method", value="PUT")
										button.btn.btn-primary.m-t-15.waves-effect(type='submit') Edit
										a(href='/customers')
											button.btn.btn-primary.m-t-15.waves-effect(type='button') Back