extends ../layout/base
block content
	section.content
		.container-fluid
			//- .block-header
			//- 	h2 NORMAL TABLES
			// Basic Table
			.row.clearfix
				.col-lg-3.col-md-3.col-sm-6.col-xs-12
					.info-box
						.icon.bg-red
							i.material-icons account_circle
						.content
							.text CLIENT
							.number.count-to(data-from='0', data-to='125', data-speed='1000', data-fresh-interval='20') 125
				.col-lg-3.col-md-3.col-sm-6.col-xs-12
					.info-box
						.icon.bg-indigo
							i.material-icons face
						.content
							.text NEW CLIENT
							.number.count-to(data-from='0', data-to='257', data-speed='1000', data-fresh-interval='20') 257
				.col-lg-3.col-md-3.col-sm-6.col-xs-12
					.info-box
						.icon.bg-purple
							i.material-icons stay_current_portrait
						.content
							.text ALL DEVICE
							.number.count-to(data-from='0', data-to='117', data-speed='1000', data-fresh-interval='20')
				.col-lg-3.col-md-3.col-sm-6.col-xs-12
					.info-box
						.icon.bg-deep-purple
							i.material-icons location_city
						.content
							.text ACTIVE CLIENT
							.number.count-to(data-from='0', data-to='1432', data-speed='1500', data-fresh-interval='20')
		.container-fluid
			//- .block-header
			//- 	h2 NORMAL TABLES
			// Basic Table
			.row.clearfix
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.card
						.header
							h2
								| CLIENT LIST TABLES
								small List of client sbms
							ul.header-dropdown.m-r--5
								li.dropdown
									a.dropdown-toggle(href='javascript:void(0);', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
										i.material-icons more_vert
									ul.dropdown-menu.pull-right
										li
											a(href='/customers/add') Add Customer
						.body.table-responsive
							table.table.table-hover.js-basic-example.dataTable.table-bordered
								thead
									tr
										th No
										th Name
										th Address
										th Email
										th Phone
										th Action
										if messages.msg_error
											!{messages.msg_error}
										else
											tbody
												for row, index in data
													tr
														td(scope='row') #{index+1}
														td #{row.name}
														td #{row.address}
														td #{row.email}
														td #{row.phone}
														td
															.btn-toolbar(role='toolbar')
																.btn-group(role='group')
																	a(href='/customers/edit/#{row.id}')
																		button.btn.btn-primary.waves-effect(type='button')
																			i.material-icons mode_edit
																			span EDIT
																.btn-group(role='group')
																	form(method='POST', action='/customers/delete/#{row.id}')
																		a(href='/customers/edit/#{row.id}')
																			input(type="hidden",name="_method", value="DELETE")
																			button.btn.btn-danger.waves-effect(type='submit')
																				i.material-icons delete
																				span DELETE
		//- section.content
	//- 	.box
	//- 		.box-header.with-border
	//- 			h3.box-title
	//- 				| Customer
	//- 			.box-tools.pull-right
	//- 				button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
	//- 					i.fa.fa-minus
	//- 		.box-body
	//- 			- if(messages.msg_info)
	//- 				.alert.alert-success.alert-dismissable
	//- 					button.close(type='button', data-dismiss='alert', aria-hidden='true')
	//- 						| ×
	//- 					h4
	//- 						i.icon.fa.fa-check
	//- 						| Success!
	//- 					| !{messages.msg_info}
	//- 			- if(messages.msg_error)
	//- 				.alert.alert-danger.alert-dismissable
	//- 					button.close(type='button', data-dismiss='alert', aria-hidden='true')
	//- 						| ×
	//- 					h4
	//- 						i.icon.fa.fa-ban
	//- 						| Alert!
	//- 					| !{messages.msg_error}
	//- 			a(href='customers/add').pull-left.btn.btn-primary
	//- 				i.fa.fa-plus 
	//- 				|  Add Customer
	//- 			.data-table
	//- 				table.table.table-bordered
	//- 					tr
	//- 						th
	//- 							| No
	//- 						th
	//- 							| Name
	//- 						th
	//- 							| Address
	//- 						th
	//- 							| Phone
	//- 						th
	//- 							| Email
	//- 						th
	//- 							| Action
	//- 						if messages.msg_error
	//- 							| !{messages.msg_error}
	//- 						else
	//- 							for row, index in data 
	//- 								tr
	//- 									td #{index+1}
	//- 									td #{row.name}
	//- 									td #{row.address}
	//- 									td #{row.email}
	//- 									td #{row.phone}
	//- 									td
	//- 										div(style='display:inline-block')
	//- 											a(href='/customers/edit/#{row.id}').btn.btn-sm.btn-primary
	//- 													i.fa.fa-edit
	//- 										| 
	//- 										div(style='display:inline-block')
	//- 											form(method='post', action='/customers/delete/#{row.id}')
	//- 												input(type="hidden",name="_method", value="DELETE")
	//- 												button.btn.btn-sm.btn-danger(type='submit')
	//- 													i.fa.fa-remove